.emoji-picker {
  background: white;
  border: 1px solid #AAA;
  border-radius: 6px;
  padding: 6px;
  position: absolute;
  top: 50px;
  width: 174px;
  z-index: 1; }

.emoji-picker__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.emoji-picker__caret {
  background: #fff;
  position: absolute;
  top: 0px;
  left: 29px; }
  .emoji-picker__caret:after, .emoji-picker__caret:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .emoji-picker__caret:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 4px;
    margin-left: -4px; }
  .emoji-picker__caret:before {
    border-color: rgba(170, 170, 170, 0);
    border-bottom-color: #aaa;
    border-width: 5px;
    margin-left: -5px; }

.emoji-picker__control {
  background: none;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 28px;
  height: 40px;
  line-height: 44px;
  width: 40px; }
  .emoji-picker__control:hover {
    background: #E9E9E9; }
  .emoji-picker__control:focus {
    outline: none; }

.emoji-picker__shadow {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0; }
