* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
}

body {
	background: #D2D2D2;
	font-size: 14px;
	font-family: sans-serif;
}

li {
	list-style-type: none;
}

#root {
	height: 100%;
}
